{% block content %}
{{ "File list" | bold }}

{% if context.files %}
{% for file in context.files %}
• {{ file.name }} (ID: {{ file.id }})
{% endfor %}
{% else %}
No files found
{% endif %}

{% endblock %}