{% block content %}
{{ "File list" | bold }}
{% if files.is_ok() and files.unwrap() | length > 0 %}
    {% for file in files.unwrap() %}
        • {{ file.name }} (ID: {{ file.id }})
    {% endfor %}
{% else %}
    No files found
{% endif %}

{% endblock %}